<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="description" content="{{ data.description }}">
<meta itemprop="name" content="{{ data.title }}">
<meta itemprop="description" content="{{ data.description }}">

<!-- Twitter-->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@twitter">
<meta name="twitter:title" content="{{ data.title }}">
<meta name="twitter:url" content="{{ data.homepage }}">
<meta name="twitter:description" content="{{ data.description }}">
<meta name="twitter:image" content="{{ appearance.cover }}">

<!-- Opengraph-->
<meta property="og:title" content="{{ data.title }}">
<meta property="og:url" content="{{ data.homepage }}">
<meta property="og:image" content="{{ appearance.cover }}">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ data.homepage }}">
<meta property="og:description" content="{{ data.description }}">
<meta property="og:locale" content="en_US">

<!-- Favicons (created with http://realfavicongenerator.net/)-->
<link rel="apple-touch-icon" sizes="57x57" href="@@autopath/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="@@autopath/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="@@autopath/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="@@autopath/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="@@autopath/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="@@autopath/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="@@autopath/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="@@autopath/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="@@autopath/favicons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="@@autopath/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="@@autopath/favicons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="@@autopath/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="@@autopath/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="@@autopath/favicons/manifest.json">
<link rel="mask-icon" href="@@autopath/favicons/safari-pinned-tab.svg" color="{{appearance.color}}">
<meta name="msapplication-TileColor" content="{{appearance.color}}">
<meta name="msapplication-TileImage" content="@@autopath/favicons/mstile-144x144.png">
<meta name="theme-color" content="{{appearance.color}}">

{% if appearance.font %}
<!-- Font -->
<link href="{{appearance.font}}" rel="stylesheet">
{%- endif -%}