<!DOCTYPE html>
<html lang="{{languageDirection.lang}}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
  <title>{{ title | safe }}</title>

  {% include "../partials/head.html" %}

  {% block styles %}
  <!-- CSS -->
  <link rel="stylesheet" href="@@autopath/css/style.css{{"?v="+data.version}}">
  <!-- Vendor CSS -->
  <!-- bundlecss:vendor [@@autopath] {{"?v="+data.version}} -->
  {%- endblock -%}

  {% block head %}
  <!-- External page head section -->
  {%- endblock -%}
</head>

<body {{ bodyAttr | safe if bodyAttr }}>
  {%- block content -%}
  <!-- Content -->
  {%- endblock -%}

  {%- block scripts -%}
  <!-- JS -->
  <script src="@@autopath/js/script.js{{"?v="+data.version}}" defer></script>
  <!-- Vendor JS -->
  <!-- bundlejs:vendor [@@autopath] {{"?v="+data.version}} -->
  {%- endblock -%}
</body>

</html>